html,body {
	height: 100%;
}
body {
	background-color: #000;
}
.nav {
	width: 1024px;
	height: 50px;
	margin: 0 auto;

	/*background-image: url("../img/navBg.jpg");*/
	background-position: 0 -62px; 
}

.section {
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	background-image: url("../img/sectionBg2.png");
	background-size: 1024px;

}