html,body {
	/*height: 100%;*/
}
body {
	background-color: #5ba4d9;
	/*overflow: hidden;*/
}
.nav {
	width: 1024px;
	height: 50px;
	margin: 0 auto;
	background-position: 0 -62px; 
}

.section {
	position: relative;
	width: 1024px;
	height: 850px;
	margin: 30px auto;
	overflow: hidden;
	background-image: url("../img/desktop.png");
	background-size: 1024px;

}

.book {
	position: absolute;
	width: 700px;
	height: 500px;
	top: 290px;
	left: 70px;
	background-image: url("../img/sectionBg2.png");
	background-size: 100%;
	overflow: hidden;
}
.book h2{
	width: 50%;
	text-align: center;
	margin-top: 30px; 
	font-size: 30px;
	font-family: "STXingkai";
	font-weight: bold;
}

.bigai {
	position: absolute;
	right: 150px;
	top: 160px;
	width: 120px;
}
.pen {
	position: absolute;
	top: 335px;
	right: 90px;
	width: 75px;
}
.fruit {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 95px;
	left: 440px;
}
.tea {
	position: absolute;
	top: 0;
	left: 240px;
	width:300px;
}