html,body {
	/*height: 100%;*/
}
body {
	background-color: #5ba4d9;
	/*overflow: hidden;*/
}
.nav {
	width: 1024px;
	height: 50px;
	margin: 0 auto;

	/*background-image: url("../img/navBg.jpg");*/
	background-position: 0 -62px; 
}

.section {
	position: relative;
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	background-image: url("../img/desktop.png");

	/*background-image: url("../img/sectionBg2.png");*/
	background-size: 1024px;

}

.book {
	width: 75%;
	height: 500px;
	margin-top: 240px;
	margin-left: 40px;
	background-image: url("../img/sectionBg2.png");
	background-size: 100%;
	overflow: hidden;
}
.book h2{
	width: 50%;
	text-align: center;
	margin-top: 30px; 
	font-size: 30px;
	font-weight: bold;

}
.fruit {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 325px;
	right: 35px;
}
.tea {
	position: absolute;
	top: 20px;
	left: 200px;
	width: 200px;
	height: 200px;
}